.photo-list {
    display: flex;
    flex-wrap: wrap;
}

.photo-item {
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.show-more {
    background-color: transparent !important;
    color: darkorange !important;
    border: none !important;
    text-decoration: underline;
}